<div class="container">
  <div class="resizable-container">
    <div class="left-pane">

      <h2>FDC3 Context Schema Builder</h2>
      <div class="property-group">
        <input pInputText [(ngModel)]="baseSchema.$id" placeholder="Schema ID" />
        <input pInputText [(ngModel)]="baseSchema.title" placeholder="Schema Title"
          (ngModelChange)="updateConstWithTitle()" />
        <input pInputText [(ngModel)]="baseSchema.description" placeholder="Schema Description" />
        <p-dropdown [options]="compositionOptions" [(ngModel)]="compositionTypeKeyToReplace"
          placeholder="Select Composition" (onChange)="updateCompositionType()"></p-dropdown>

      </div>

      <h2>Properties</h2>
      <ng-container *ngFor="let property of properties; let i = index">
        <ng-container [ngTemplateOutlet]="nestedTemplate"
          [ngTemplateOutletContext]="{ property: property, index: i, level: 0 }"></ng-container>
      </ng-container>
      <button pButton label="Add Property" (click)="addProperty()"></button>
    </div>
  </div>

  <div class="right-pane">
    <h2>JSON Schema</h2>
    <p-dropdown [options]="languageOptions" [(ngModel)]="selectedLanguage" placeholder="Select Language"
      class="margin-right"></p-dropdown>
    <button pButton icon="pi pi-cog" label="Generate POJO" (click)="generatePojo()"></button>

    <pre id="json-output">{{ generateJSON() }}</pre>


  </div>

  <!-- <div class="right-pane">
    <h2>JSON generatedCode</h2>

    <pre >{{ generatedCode }}</pre>
 

  </div> -->
</div>


<ng-template #nestedTemplate let-property="property" let-index="index" let-level="level" let-parentList="parentList">
  <div class="property-row" [style.marginLeft.px]="level * 20">
    <div class="property-fields-inline">
      <input pInputText [(ngModel)]="property.name" placeholder="Property Name" />
      <input pInputText [(ngModel)]="property.title" placeholder="Property Title" />
      <input pInputText [(ngModel)]="property.description" placeholder="Description" />
      <p-dropdown [options]="types" [(ngModel)]="property.type" placeholder="Type"></p-dropdown>

      <!-- Show dropdown and input fields only when type is 'string' -->
      <div *ngIf="property.type === 'string'" class="string-options-inline">
        <p-dropdown [options]="stringOptions" [(ngModel)]="property.stringOption"
          placeholder="Select String Option"></p-dropdown>
        <input *ngIf="property.stringOption" pInputText [(ngModel)]="property.stringValue" placeholder="Enter Value" />
      </div>

      <!-- Show input field only when type is 'const' or '$ref' -->
      <input *ngIf="property.type === 'const' || property.type === '$ref'" pInputText [(ngModel)]="property.stringValue"
        placeholder="Enter Const or Reference Value" />

      <div class="checkbox-container">
        <p-checkbox *ngIf="property.type !== 'object'" [(ngModel)]="property.required" binary="true"></p-checkbox>
        <span *ngIf="property.type !== 'object'" class="required-asterisk">*</span>
      </div>
      <button pButton icon="pi pi-plus" label="Add Nested Property" *ngIf="property.type === 'object'"
        (click)="addProperty(property)"></button>
      <button pButton icon="pi pi-times" (click)="removeProperty(parentList || properties, index)"></button>
    </div>

    <div *ngIf="property.children?.length" class="nested-properties">
      <ng-container *ngFor="let nestedChild of property.children; let j = index">
        <ng-container [ngTemplateOutlet]="nestedTemplate"
          [ngTemplateOutletContext]="{ property: nestedChild, index: j, level: level + 1 , parentList: property.children}"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>